<div class="card">
	<h5 class="card-header">Welcome Mine</h5>
	<div class="card-body">
		<h5 class="card-title">Great Quote</h5>
		<p class="card-text">We are not of they who give up, but those who through hard work and persistence bring their dreams to reality</p>
		<a href="#" class="btn btn-primary">See More</a>
	</div>
</div>
